<!-- <link href="https://unpkg.com/bootstrap-css-only@4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.27.20/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.6.2/dist/flatpickr.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div id="wrapper"  [ngClass]="ref.click === true? 'toggled' :''" >
        <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}" ></div>
            <app-menu-bar></app-menu-bar>
        <!-- Page Content -->
        <div id="page-content-wrapper">
                <button appSidebar  #ref="appSidebar" type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <mwl-demo-component></mwl-demo-component>
                            </div>
                        </div>
                </div>
        </div>
</div>